[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
social-auth-app-django = {git = "https://github.com/python-social-auth/social-app-django.git"}
django-extensions = {git = "https://github.com/django-extensions/django-extensions.git"}
werkzeug = "*"
pyopenssl = "*"
requests = "*"
easy-thumbnails = "*"
django-debug-toolbar = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
